name: 'Deploy container to latest tag'

on:
  push:
    branches:
      - main

jobs:
  build-latest:
    runs-on: arc-runner-set
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push the container to GitHub Container Registry using the latest tag
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/arm64
          tags: ghcr.io/valorem-labs-inc/anvil-runner:latest
          push: true
